In [1]:
import pandas as pd

garments_data = pd.read_csv('resources/garments-worker-productivity.csv')
display(garments_data.head())

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [2]:
import pipeline_utils as pu

In [3]:
pipeline = pu.create_pipeline(garments_data)

Mean Squared Error: 0.06989178735150263
R-squared: -1.1212268282757507
Adjusted R-squared: -1.2254274444015771
Mean Squared Error: 0.03313388082147179
R-squared: -0.005618536694730336
Adjusted R-squared: -0.05501734200605046
Pipeline 2 is better
Mean Squared Error: 0.03151387028877602
R-squared: -0.017369056986331177
Adjusted R-squared: -0.06734508083829138
Mean Squared Error: 0.05365717544657033
R-squared: -0.732226143104671
Adjusted R-squared: -0.8173179536431463
Pipeline 1 is better

c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 10, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 10, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 10, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 10, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 10, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
c:\Users\Tim\anaconda3\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [6, 7, 8, 9, 10, 11, 13] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(